#title,
#search-section {
	width: 100%;
	margin: 0.5rem auto;
}

#title,
#search-section,
#summary {
	text-align: center;
}

#title {
	font-family: 'Bangers', cursive;
}

#title h1 {
	font-size: 5rem;
	margin-top: 1rem;
	margin-bottom: -1rem;	
}

#title p {
	margin-bottom: 2rem;
}

#search-section {
	font-family: 'Shadows Into Light Two', cursive;
	padding-bottom: 1rem;
}

#search-section,
#summary {
	font-family: 'Shadows Into Light Two', cursive;
}

#input,
.submit {
	height: 2rem;
}

#input {
	width: 30rem;
}

.submit {
	width: 6rem;
	font-weight: 900;
	border-radius: 8%;
	background-color: gray;
	font-size: 1rem;
}

#events {
	width: 85rem;
	margin: 0 auto;
	position: fixed;
	left: 20rem;
}

.thumbnail {
	height: 15rem;
	width: 10rem;
	z-index: 1;

}

#summary {
	z-index: 20;
	position: absolute;
	width: 30rem;
	height: 30rem;
	opacity: 0.85;
	background-color: white;
	left: 45rem;
	border-radius: 10%;
	font-weight: 700;
	display: none;

}

.event-name,
.description {
	margin: 2rem;
}


/*
font-family: 'Bangers', cursive;
font-family: 'Shadows Into Light Two', cursive;
*/